{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Create Emotion
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="padding-top: 25px; padding-left: 8px; padding-right:8px;">
        <input class="form-control" value="Enter your shit" 
                style="padding-left: 10px; padding-right:10px;"
                id='display'
                onchange="populateDisplay(this)">
    </div>
    <div class="row" style="padding-top: 25px;">
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            value="7"
            onclick="buttonPress(this.innerHTML)">7</button>
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">8</button>
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">9</button>
        <button class="col btn btn-primary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">x</button>
    </div>
    <div class="row" style="padding-top: 25px;">
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">4</button>
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">5</button>
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">6</button>
        <button class="col btn btn-primary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">-</button>
    </div>
    <div class="row" style="padding-top: 25px;">
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">1</button>
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">2</button>
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">3</button>
        <button class="col btn btn-primary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">+</button>
    </div>
    <div class="row" style="padding-top : 25px;">
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">,</button>
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">0</button>
        <button class="col btn btn-secondary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="buttonPress(this.innerHTML)">.</button>
        <button class="col btn btn-primary btn-lg" 
            style="margin: 5px; height: 100px;"
            onclick="enter(this.innerHTML)"
            id="EnterButton">=</button>
    </div>
</div>

<script>    
    var computation = "";
    function buttonPress(num) {
        computation += num;
        document.getElementById('display').value = computation;
    }

    function enter() {
        var string_number = "";
        var num1 = 0;
        var operator = "";
        computation = computation.replace(/\s/g,'');
        computation = computation.replace(/,/g, '');
        var num2 = 0;
        for(i=0; i<computation.length; i++) {
            if(Number.isInteger(parseInt(computation[i]))) {
                string_number += computation[i];
            }
            else if (computation[i].includes('x')) {
                operator = computation[i]
                num1 = parseInt(string_number);
                string_number = "";
            }
            else if (computation[i].includes('+')) {
                operator = computation[i]
                num1 = parseInt(string_number);
                string_number = "";
            }
            else if (computation[i].includes('-')) {
                operator = computation[i]
                num1 = parseInt(string_number);
                string_number = "";
            }
            else if (computation[i].includes('/')) {
                operator = computation[i]
                num1 = parseInt(string_number);
                string_number = "";
            }
            else {
                num1 = parseInt(string_number);
                string_number = "";
            }
        }
        num2 = parseInt(string_number);
        console.log(num1);
        console.log(operator);
        console.log(num2);
        var output = 0;
        switch(operator) {
            case '+':
                output = num1+num2;
                break;
            case '-':
                output = num1-num2;
                break;
            case 'x':
                output = num1*num2;
                break;
            case '/':
                output = num1/num2;
                break;
        }
        console.log(output);
        document.getElementById('display').value = output;
    }

    function populateDisplay() {
        computation = document.getElementById("display").value;
        document.getElementById('display').value = computation;
    }
    document.getElementById('display').addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("EnterButton").click();
        }
    });
</script>

{% endblock %}
